# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
VPN_IPSEC_PSK=somesecret
VPN_USER=vpn_user
VPN_PASSWORD=vpn_password

# (Optional) Define additional VPN users
# - Uncomment and replace with your own values
# - Usernames and passwords must be separated by spaces
# VPN_ADDL_USERS=additional_username_1 additional_username_2
# VPN_ADDL_PASSWORDS=additional_password_1 additional_password_2

# (Optional) Use alternative DNS servers
# - By default, clients are set to use Google Public DNS
# - Example below shows using Cloudflare's DNS service
# VPN_DNS_SRV1=1.1.1.1
# VPN_DNS_SRV2=1.0.0.1

VPN_PUBLIC_IP=134.54.34.190

# IPsec Configurations
PGW_NAME=mpesa
PGW_IP=134.34.23.34
PGW_RIGHT_SUBNETS=134.34.16.78/24
PGW_NET=134.34.16.0/24
PGW_PSK=sharedsecret9dff3r3
OVPN_NET=10.8.0.0/24

# Gateway
#gateway ip
OVPN_CONF_IFCONFIG_DEST=10.8.0.1
#server ip
OVPN_CONF_IFCONFIG_INET=10.8.0.2
OVPN_CONF_IFCONFIG_POOL_START=10.8.0.0
OVPN_CONF_IFCONFIG_POOL_END=10.8.0.254
OVPN_CONF_ROUTE=10.8.0.0
OVPN_CONF_PGW_ROUTE=134.34.16.78
OVPN_CONF_SUBNET=255.255.255.0

# Integrator
OVPN_INTEGRATOR_STATIC_IP=10.8.0.4
OVPN_INTEGRATOR_NAME=integrator

#OpenVPN Client
OVPN_DEVICE=tun
OVPN_CN=134.54.34.190
OVPN_PORT=1194
OVPN_PROTO=udp
OVPN_DEFROUTE=0
# OVPN_MTU
OVPN_TLS_CIPHER=TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-128-CBC-SHA256
OVPN_CIPHER=AES-256-CBC
OVPN_AUTH=SHA512
# OVPN_OTP_AUTH
OVPN_COMP_LZO=1